<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 相机权限 -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 麦克风权限（语音指令） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="Air Calculator"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:extractNativeLibs="true">

        <!-- LiteRT 的 GPU 加速器要 dlopen 厂商的 OpenCL。targetSdk ≥ 31 起，vendor
             提供的非 NDK 原生库默认对应用不可见，必须在这里显式声明才能加载。
             少了它们，libLiteRtClGlAccelerator 取不到 OpenCL，会静默退到 OpenGL
             （日志：'OpenCL not supported on this platform. Using OpenGL instead.'），
             手部检测的单帧推理从十几毫秒掉到 44ms。

             这几行本来在 litert AAR 自带的 manifest 里，靠 Gradle 合并进来；我们改
             成由 mwh 的 build hook 直接抽 .so 打包后，那份 manifest 不再参与合并，
             所以要在这里补上。required=false：没有 OpenCL 的机器照样能装，退 OpenGL。
             libvndksupport.so 是 LiteRT 用来进 vendor 命名空间的桥（android_load_
             sphal_library 在它里面），三个 libOpenCL 变体覆盖不同厂商的命名。 -->
        <uses-native-library android:name="libOpenCL.so" android:required="false" />
        <uses-native-library android:name="libOpenCL-car.so" android:required="false" />
        <uses-native-library android:name="libOpenCL-pixel.so" android:required="false" />
        <uses-native-library android:name="libvndksupport.so" android:required="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- flutter_tts: 查询系统 TTS 引擎 -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>
</manifest>
